mat-card {
    background-color: #00000007;
}

.crop-image {
    display: block;
    height: 38rem;
    width: 100%;
}

.crop-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 0 0.3rem;
}