<header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button routerLink="/">
          <span>Rick y Morty</span>
        </button>
        <button mat-button routerLink="/episodio" routerLinkActive="active">Episodios</button>
        <button mat-button routerLink="/personaje" routerLinkActive="active">Personajes</button>
        <button mat-button routerLink="/dimension" routerLinkActive="active">Dimensiones</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
