mat-card {
    margin: 2rem 8rem;
}

mat-card img {
    width: 80%;
    margin: 2rem 5rem;
}
.main {
    display: flex;
}
.avatar {
    width: 50%;
    margin: 2rem;
}
.avatar img {
    border-radius: 2rem;
    box-shadow: 0.3rem ;
}

.info {
    width: 60%;
    margin: 2rem;
}

.episodios {
    margin: 0 3rem;
}